-- CreateTable
CREATE TABLE "Tecnico" (
    "id_tecnico" SERIAL NOT NULL,
    "nome" TEXT NOT NULL,
    "cognome" TEXT NOT NULL,
    "id_usuario" INTEGER,

    CONSTRAINT "Tecnico_pkey" PRIMARY KEY ("id_tecnico")
);

-- CreateTable
CREATE TABLE "Lotto" (
    "id_lotto" SERIAL NOT NULL,
    "numero_lotto" TEXT NOT NULL,
    "anno" INTEGER NOT NULL,
    "descrizione" TEXT,
    "data_creazione" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "numero_telaio_da" TEXT,
    "numero_telaio_a" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Lotto_pkey" PRIMARY KEY ("id_lotto")
);

-- CreateTable
CREATE TABLE "Maquina" (
    "id_maquina" SERIAL NOT NULL,
    "numero_telaio" TEXT NOT NULL,
    "seriale_compressore" TEXT,
    "tipo_gas" TEXT,
    "quantita_gas" DOUBLE PRECISION,
    "tipo_valvola" TEXT,
    "regolazione_valvola" TEXT,
    "annotazioni" TEXT,
    "stato" TEXT,
    "foto1" TEXT,
    "foto2" TEXT,
    "data_consegna" TIMESTAMP(3),
    "fecha_primera_prueba" TIMESTAMP(3),
    "fecha_estado_ok" TIMESTAMP(3),
    "id_tecnico" INTEGER,
    "id_lotto" INTEGER,

    CONSTRAINT "Maquina_pkey" PRIMARY KEY ("id_maquina")
);

-- CreateTable
CREATE TABLE "Test" (
    "id_test" SERIAL NOT NULL,
    "id_maquina" INTEGER NOT NULL,
    "id_tecnico" INTEGER,
    "temperatura_iniziale" DOUBLE PRECISION,
    "regolazione_vite" TEXT,
    "tempo_0_gradi" INTEGER,
    "tempo_meno8_gradi" INTEGER,
    "quantita_liquido" DOUBLE PRECISION,
    "humedad_ambiente" DOUBLE PRECISION,
    "fecha_test" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "hora_test" TIMESTAMP(3),
    "observazioni" TEXT,

    CONSTRAINT "Test_pkey" PRIMARY KEY ("id_test")
);

-- CreateTable
CREATE TABLE "Usuario" (
    "id_usuario" SERIAL NOT NULL,
    "email" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "apellido" TEXT,
    "password" TEXT,
    "google_id" TEXT,
    "google_email" TEXT,
    "google_refresh_token" TEXT,
    "foto" TEXT,
    "rol" TEXT NOT NULL DEFAULT 'tecnico',
    "estado" TEXT NOT NULL DEFAULT 'pendiente',
    "fecha_registro" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "fecha_aprobacion" TIMESTAMP(3),
    "aprobado_por" INTEGER,

    CONSTRAINT "Usuario_pkey" PRIMARY KEY ("id_usuario")
);

-- CreateTable
CREATE TABLE "Materiale" (
    "id_materiale" SERIAL NOT NULL,
    "cod_articolo" TEXT NOT NULL,
    "codice" TEXT,
    "descrizione" TEXT NOT NULL,
    "fornitore" TEXT NOT NULL,
    "unita_misura" TEXT,
    "prezzo_unitario" DOUBLE PRECISION,
    "note" TEXT,
    "stock_comprado" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "stock_utilizado" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "stock_disponible" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "activar_alerta" BOOLEAN NOT NULL DEFAULT true,
    "stock_minimo" DOUBLE PRECISION,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Materiale_pkey" PRIMARY KEY ("id_materiale")
);

-- CreateTable
CREATE TABLE "Ordine" (
    "id_ordine" SERIAL NOT NULL,
    "id_usuario" INTEGER,
    "stato" TEXT NOT NULL DEFAULT 'richiesto',
    "data_richiesta" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "data_ordine" TIMESTAMP(3),
    "data_consegna_prevista" TIMESTAMP(3),
    "data_consegna" TIMESTAMP(3),
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Ordine_pkey" PRIMARY KEY ("id_ordine")
);

-- CreateTable
CREATE TABLE "OrdineItem" (
    "id_item" SERIAL NOT NULL,
    "id_ordine" INTEGER NOT NULL,
    "id_materiale" INTEGER NOT NULL,
    "quantita" DOUBLE PRECISION NOT NULL,
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "OrdineItem_pkey" PRIMARY KEY ("id_item")
);

-- CreateIndex
CREATE UNIQUE INDEX "Tecnico_id_usuario_key" ON "Tecnico"("id_usuario");

-- CreateIndex
CREATE UNIQUE INDEX "Lotto_numero_lotto_key" ON "Lotto"("numero_lotto");

-- CreateIndex
CREATE UNIQUE INDEX "Maquina_numero_telaio_key" ON "Maquina"("numero_telaio");

-- CreateIndex
CREATE UNIQUE INDEX "Usuario_email_key" ON "Usuario"("email");

-- CreateIndex
CREATE UNIQUE INDEX "Usuario_google_id_key" ON "Usuario"("google_id");

-- CreateIndex
CREATE UNIQUE INDEX "Materiale_cod_articolo_fornitore_key" ON "Materiale"("cod_articolo", "fornitore");

-- AddForeignKey
ALTER TABLE "Tecnico" ADD CONSTRAINT "Tecnico_id_usuario_fkey" FOREIGN KEY ("id_usuario") REFERENCES "Usuario"("id_usuario") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Maquina" ADD CONSTRAINT "Maquina_id_tecnico_fkey" FOREIGN KEY ("id_tecnico") REFERENCES "Tecnico"("id_tecnico") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Maquina" ADD CONSTRAINT "Maquina_id_lotto_fkey" FOREIGN KEY ("id_lotto") REFERENCES "Lotto"("id_lotto") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Test" ADD CONSTRAINT "Test_id_maquina_fkey" FOREIGN KEY ("id_maquina") REFERENCES "Maquina"("id_maquina") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Test" ADD CONSTRAINT "Test_id_tecnico_fkey" FOREIGN KEY ("id_tecnico") REFERENCES "Tecnico"("id_tecnico") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Usuario" ADD CONSTRAINT "Usuario_aprobado_por_fkey" FOREIGN KEY ("aprobado_por") REFERENCES "Usuario"("id_usuario") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Ordine" ADD CONSTRAINT "Ordine_id_usuario_fkey" FOREIGN KEY ("id_usuario") REFERENCES "Usuario"("id_usuario") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrdineItem" ADD CONSTRAINT "OrdineItem_id_ordine_fkey" FOREIGN KEY ("id_ordine") REFERENCES "Ordine"("id_ordine") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrdineItem" ADD CONSTRAINT "OrdineItem_id_materiale_fkey" FOREIGN KEY ("id_materiale") REFERENCES "Materiale"("id_materiale") ON DELETE RESTRICT ON UPDATE CASCADE;

